

:root{
    --transition: all 0.7s ease;
    --yellow: #f9d342;
    --dark: #292826;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  
  .btn{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    opacity: 0.85;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1, h2, h3, h4, h5, h6{
    padding: 8px 0;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: var(--yellow);
}

img{
    width: 100%;
    display: block;
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}
  

/* header */
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("images/banner-img.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.head-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-top span{
    cursor: pointer;
    letter-spacing: 2px;
    transition: var(--transition);
}
.head-top span:hover{
    color: var(--yellow);
}
.head-bottom{
    flex: 1;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;*/

}

profile{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    
}
.head-bottom h2{
    padding: 22px 0;
    font-size: 45px;
    border-bottom: 1px solid #fff;
}
.head-bottom p{
    opacity: 0.7;
    font-size: 20px;
    margin: 45px auto;
    width: 60vw;
}
.head-btn{
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #fff;
    background: transparent;
    padding: 13px 20px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
}
.head-btn:hover{
    background: transparent;
}
@media(max-width: 500px){
    .head-btn{
        font-size: 17px;
    }
    .head-bottom h2{
        font-size: 28px;
    }
    .head-bottom p{
        font-size: 17px;
        margin: 20px auto;
    }
}

/* side nav */
.sidenav{
    text-decoration: none;
    background: var(--dark);
    color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 300px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}

/********/
.sidenav.show{
    right: 0;
}
/*************/
.cancel-btn{
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);
}
.cancel-btn:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}
.navbar li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
    opacity: 0.8;
    letter-spacing: 1.5px;
    transition: var(--transition);
}
.navbar li a:hover{
    padding-left: 12px;
}
.sign-up, .log-in{
    background: var(--yellow);
    color: #fff;
}
@media(max-width: 400px){
    .sidenav{
        width: 100vw;
    }
}

/** title */
.title{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    color: var(--yellow);
    border-bottom: 5px solid var(--dark);
    width: 235px;
    margin: 15px 0;
}

.sec-width{
    width: 85vw;
    margin: 0 auto!important;
}

/* service */
.services{
    margin: 40px 0;
}
.service{
    display: flex;
    margin: 30px 0;
}
.service-icon{
    flex: 30%;
    align-self: flex-start;
    font-size: 48px;
    color: #252525;
}
.service-content{
    padding-left: 20px;
}
.service-content h2{
    opacity: 0.7;
}
.service-content button{
    margin-left: 0;
    margin-right: 0;
    background: var(--yellow);
    color: #fff;
}
@media(min-width: 992px){
    .services-container{
        display: grid;
        grid-template-rows: repeat(2, 1fr); /* Change to rows */
        grid-row-gap: 30px;
    }
    .title h2{
        font-size: 10px!important;
    }
}
@media(max-width: 500px){
    .title h2{
        font-size: 24px;
    }
}

.bio-data{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url("images/banner-img.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

/*.bio-data {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/


  form {
        background: linear-gradient(rgba(189, 182, 182, 0.866), rgba(0, 0, 0, 0.2)), url("images/banner-img.jpg") center/cover no-repeat;
        min-height: 100vh;
        color: #fff;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-content: stretch;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
  }


iframe {
    background: linear-gradient(rgba(189, 182, 182, 0.866), rgba(0, 0, 0, 0.2)), url("images/banner-img.jpg") center/cover no-repeat;
    min-height: 100vh;
    color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
width: 200%;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
background-color: #fff;
box-shadow: 0 0 10px #ccc;
}



  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }

 p {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  textarea {
    height: 50px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .required {
    color: red;
  }
  
  #Education {
    display: none;
  }
  
  @media (max-width: 500px) {
    form {
      width: 100%;
    }
  }
  
  /* Style the submit button */
  .btnSubmit {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    
  }
  
  /* Style the input fields */
  input {
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
  }
  
  textarea {
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
  }
  
  /* Style the label */
  label {
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Style the required text */
  .required {
    color: red;
    font-size: 12px;
  }
  
  /* Style the form */
 
  
  footer{
    background-color: rgba(130, 127, 127, 0.622);
    display: flex;
    height: auto    ;
    padding: 25px;
}

footer div{
    width: 50%;
    
}

footer div h1{
    color: var(--yellow);
    
}